In [24]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
from google_play_scraper import app
import pandas as pd
import numpy as np
from datetime import date

In [55]:
streaming_apps = [
    {
        "app_name":"wetv",
        "gp_id":"com.tencent.qqlivei18n",
        "apple_id":"1441531611"
    },
    {
        "app_name":"netflix",
        "gp_id":"com.netflix.mediaclient",
        "apple_id":"363590051"
    },
    {
        "app_name":"viu",
        "gp_id":"com.vuclip.viu",
        "apple_id":"1044543328"
    },
    {
        "app_name":"vidio",
        "gp_id":"com.vidio.android",
        "apple_id":"1048858798"
    },
    {
        "app_name":"disney_hotstar",
        "gp_id":"in.startv.hotstar.dplus",
        "apple_id":"1524156685"
    },
]
country='id'
language='id'

In [56]:
df = pd.DataFrame(columns=['app_name','date','num_reviews', 'num_ratings','score_one','score_two','score_three','score_four','score_five'])

In [58]:
for apps in streaming_apps:
    results = app(
        apps['gp_id'],
        lang=language,
        country=country # defaults to 'us'
    )

    num_ratings = results['ratings']
    num_reviews = results['reviews']
    score_one = results['histogram'][0]
    score_two = results['histogram'][1]
    score_three = results['histogram'][2]
    score_four = results['histogram'][3]
    score_five = results['histogram'][4]
    current_date = date.today().strftime("%Y-%m-%d")
    df.loc[len(df)] = [apps['app_name'], current_date, num_reviews, num_ratings, score_one, score_two, score_three, score_four, score_five]

In [59]:
df

,app_name,date,num_reviews,num_ratings,score_one,score_two,score_three,score_four,score_five
0,wetv,2022-03-03,73265,490641,53704,18258,29245,52320,337114
1,netflix,2022-03-03,48757,12744353,1894757,342328,497531,948140,9061597
2,viu,2022-03-03,186369,920107,122903,41228,62300,104780,588896
3,vidio,2022-03-03,188126,455510,52245,14337,25781,47220,315927
4,disney_hotstar,2022-03-03,23807,62516,9178,3243,4078,6279,39738

In [52]:
sum(df['num_reviews'])

520318

In [53]:
df.shape

(5, 9)

In [54]:
df.shape[0]

5